@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Small Business Application</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Login", "Login", "User")<br />
    </div>
    <div class="col-md-4">
    </div>
</div>